/* html,body{
    height: 100%;
} */
body{
    background: #fff;
    color: #444;
}
/* @media only screen and (min-width:480px){
    html{
        font-size:60px !important
    }
} */
body,ul,li,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
}
li{
    list-style: none;
}
a{
    color:#989898;
}
i{
    font-style: normal;
}
header{
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 1.813333rem;
    padding-left: 2.266667rem;
    line-height: 1.813333rem;
    z-index:999;
    background-color: #fff;
}
header ul{
    overflow: hidden;
}

header li{
    overflow: hidden;
    float: left;
    color: #989898;
    font-size:.4rem;
    margin-right: .533333rem;
}
header li a{
    position: relative;
    display: inline-block;
    height:.8rem;
}
header li a span{
    position: absolute;
    display: none;
    bottom: -0.586667rem;
    left: 50%;
    margin-left:-.32rem;
    content:'';
    width:.64rem;
    height:.106667rem;
    background:#FF6666;
    border-radius:.053333rem;
}
.current-topnav{
    font-size: .533333rem;
    font-weight: 600;
    color:#444;
}

nav a img{
    width:.66rem;
    height: .66rem;
    margin-top: .133333rem;
}
.mui-bar-tab .mui-tab-item.mui-active {
    color:#FF6666;
}
.content{
    padding:1.81rem .32rem 1.28rem;
    background-color: #fff;
    margin-bottom: 1.68rem;
}
.mui-tab-item{
    position: relative;
}
nav{
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
}
nav ul{
    display: flex;
    justify-content: space-around;
}
nav li a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav li a img{
    width: .8rem;
    height: .8rem;
}
nav li a {
    font-size: .24rem;
    color:#666;
}
.current-color{
    color:#FF6666;
}
